:root{
  --block-color: rgb(0,0,255);
  --path-color: rgb(255,255,255);
  --mark-color: rgb(255,255,0);
}

.mapContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.mapContainer > * {
  user-select:none;
}

.cells{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell{
  box-sizing: border-box;
  border: solid black 1px;
  border-radius: 5px;
  padding: 1.5px;
  margin: 4px;
  --cell-shadow-color: var(--path-color);
  background-color: var(--path-color);
  display: flex;
  flex-direction: row;

  transition: background-color 0.4s;
}

.path:hover{
  cursor: pointer;
  background-color: lightgrey;
}

.block{
  background-color: var(--block-color);
}

.active{
  background-color: var(--mark-color) !important;
}
.mark {
  box-sizing: border-box;
  height: 40%;
  width: 40%;
  margin: 1.5px;
  border-radius: 100%;
  border: solid black 1px;
  background-color: var(--mark-color);
  font-size: 0.5em;
  text-align: center;
}
.mark-hidden {
  display: none;
}
